/* The new CSS Reset - version 1.2.0 (last updated 23.7.2021) */

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

.one{
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  
}
/*.iconbar{
  background-color:rgb(4, 44, 52);
  width: 50px;
  height: 200vh;
  border: 1px solid black;

  


}*/
.greenbar{
  background-color:rgb(4, 44, 52);
  height: 100vh;
  width: 60px;
  position:sticky;
  top: 0px;
  
}
.bartop p{
  color: white;
  margin-bottom: 1px;
  text-align: center;
  padding-top: 20px;
  
}
.barbottom{
  color: white;
  text-align: center;
  position: relative;
  top: 120px;
}

  

.left{
  margin-top: 30px;
  margin-left: 80px;
  white-space: nowrap;
  gap: 20px;
  display: flex;
  
  flex-direction: row;
  flex-wrap: wrap;

}
.left1{
  display: flex;
  gap: 10px;
}
.left2{
  display: flex;
}
  
.right{
  margin-top: 30px;
  margin-left: 300px;
  
  
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  white-space: nowrap;
  
}

.right1{
  display: flex;
  gap: 10px;
  margin-left: -10px;
  padding-left: 250px;

  
}
.add{
  background-color: rgb(0, 169, 62);
  color: white;
}
.add:hover{
  background-color: rgb(11, 95, 11);
}
.right2{
  display: flex;
  gap: 10px;
  margin-left: 53px;
  padding-left: 250px;
  
}


.onediv{
  position: relative;
  bottom: 600px;
  margin-top: 30px;
  margin-left: 90px;
  width: 200vw;
  margin-top: 0px;
  display: flex;
  
  padding-top: 20px;
}
.onediv p{
  
  padding: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  
}

.scissor{
  float: right;
}

.search1{
  border: 1px solid rgb(211,208,208);
  margin-right: 730px;
  background-color: rgb(244, 244, 244);
  width: 330px;
  padding-right:200px ;
  
  
  

}
.username{
  margin-left: 30px;
  cursor: pointer;
}


.twodiv{
  display: flex;
  
  margin-left: 10px;

  column-gap:0px;
  margin-top: 10px;
  position: relative;
  bottom: 600px;
  
}
.twodiv p{
  border: 1px solid rgb(211,208,208);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.table,th,tr{
  border: 1px solid rgb(211, 208, 208);
  padding: 10px;
  
  
}
.table,td{
  padding: 10px;
  cursor: pointer;
}

.tablediv{
  margin-top: 50px;
  margin-left: 90px;
  font-weight:bold;
  position: relative;
  bottom: 600px;
  
}
.table{
  width: 90vw;
}
.checkbox{
  border: 1px solid black;
  padding: 5px;
  margin-right: 10px;
}

.quick{


display: flex;
justify-content: space-evenly;


}


  
.accepted{
  color: rgb(82, 135, 79);
  background-color:rgb(212, 229, 210) ;
  border-radius: 20px;
  
  padding: 25px;
  
  


}
.cancelled{
  color:rgb(82, 135, 79) ;
  background-color:rgb(212, 229, 210) ;
  border-radius:20px ;
  padding: 25px;
}
.rejected{
  color:rgb(235, 126, 130) ;
  background-color:rgb(255, 241, 242) ;
  border-radius: 20px;
  padding: 25px;
}
.pending{
  color: rgb(245, 186, 123);
  background-color: rgb(247, 247, 180);
  border-radius: 20px;
  padding: 25px;
}
