/* The new CSS Reset - version 1.2.0 (last updated 23.7.2021) */

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}





.main{
  background-color:rgb(217, 217, 236);
  margin: 40px;
}

.iconbar{
  background-color: rgb(31, 66, 31);
  height: 100vh;
  width: 50px;
  

}
.one{
  background-color: rgb(248, 245, 245);
  
  
  
}

  

.left{
  margin-top: 40px;
  margin-left: 80px;
  
  width: 100vw;
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}
.left1{
  display: flex;
  gap: 30px;
}
.left2{
  display: flex;
}
  
.right{
  margin-top: 40px;
  margin-left: 130px;
  
  width: 100vw;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  white-space: nowrap;
  
}

.right1{
  display: flex;
  gap: 20px;
}
.right2{
  display: flex;
  gap: 20px;
  
}


.onediv{
  
  margin-top: 30px;
  margin-left: 80px;
  width: 200vw;
  margin-top: 40px;
  display: flex;
  gap: 880px;
  padding-top: 20px;
  
  
  

}
.onediv p{
  border: 1px solid rgb(211, 208, 208);
  padding: 5px;
  padding-bottom: 5px;
  
}


.twodiv{
  display: flex;
  
  

  column-gap: 580px;
  margin-top: 10px;
  
}
.twodiv p{
  border: 1px solid rgb(211,208,208);
  padding: 5px;
  
}
.table,th,tr{
  border: 1px solid rgb(211, 208, 208);
  padding: 10px;
  
}
.table,td{
  padding: 10px;
}

.tablediv{
  margin-left: 80px;
  margin-top: 50px;
  
  
}
.table{
  width: 85vw;
}

